---
import WorkSection from "@/partials/work/WorkSection.astro";
import ProjectsSection from "@/partials/projects/ProjectsSection.astro";
import CertificatesSection from "@/partials/certificates/CertificatesSection.astro";
import VolunteerSection from "@/partials/volunteer/VolunteerSection.astro";

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<div class={`space-y-12 ${className ? className : ""}`}>
  <WorkSection />
  <ProjectsSection />
  <CertificatesSection />
  <VolunteerSection />
</div>

