---
import ProfileItems from "@/data/profile";
import type { TranslationKeys } from "@/i18n/translations";
import { getLangFromHeaders, useI18n } from "@/i18n/utils";

const { t } = useI18n(getLangFromHeaders(Astro.request.headers));
---

<section
  class="w-full bg-secondary border text-center px-6 rounded-2xl border-default"
>
  <img
    alt="avatar"
    src="/profile.jpg"
    width="240"
    height="240"
    decoding="async"
    data-nimg="1"
    class="w-[240px] absolute left-[50%] transform -translate-x-[50%] h-[240px] drop-shadow-xl mx-auto rounded-2xl -mt-[140px] object-cover"
    loading="lazy"
    style="color: transparent;"
  />
  <div class="pt-[100px] pb-8">
    <h1 class="mt-6 mb-1 text-3xl font-semibold">Sami Salih İbrahimbaş</h1>
    <h3
      class="mb-4 text-gray-700 dark:text-gray-300 bg-third inline-block px-5 py-1.5 rounded-md"
    >
      {t("product_developer")}
    </h3>
    <div class="grid grid-cols-1 gap-3">
      {
        ProfileItems.map((item) =>
          item.url ? (
            <a
              href={item.url}
              target="_blank"
              class="grid grid-cols-4 bg-third rounded-lg transition-all duration-200 hover:rounded-xl hover:brightness-125 py-2"
            >
              <div class="col-span-1 flex items-center justify-center">
                <i class={`bx ${item.icon} text-2xl lg:text-3xl`} />
              </div>
              <div class="col-span-3 flex items-center justify-start text-lg text-gray-700 dark:text-gray-300">
                {item.param}
              </div>
            </a>
          ) : (
            <div class="grid grid-cols-4 bg-third rounded-lg transition-all duration-200 hover:rounded-xl hover:brightness-125 py-2">
              <div class="col-span-1 flex items-center justify-center">
                <i class={`bx ${item.icon} text-2xl lg:text-3xl`} />
              </div>
              <div class="col-span-3 flex items-center justify-start text-lg text-gray-700 dark:text-gray-300">
                {t(item.param as TranslationKeys)}
              </div>
            </div>
          )
        )
      }
    </div>
  </div>
</section>
