---
import Icon from "@/components/Icon.astro";
import { useI18n } from "@/i18n/utils";
import { AtSign } from "@lucide/astro";

const { tv } = useI18n(Astro.locals.lang);
---

<section class="mt-8">
  {
    tv("about_me_pragraphs").map((p) => (
      <p class="text-sm text-gray-600 dark:text-neutral-400 leading-6">{p}</p>
    ))
  }

  <ul class="mt-5 flex flex-col gap-y-3">
    <li class="flex items-center gap-x-2.5">
      <AtSign class="size-4" />
      <a
        class="text-[13px] text-gray-500 underline hover:text-gray-800 hover:decoration-2 focus:outline-none focus:decoration-2 dark:text-neutral-500 dark:hover:text-neutral-400"
        href="mailto:salih@turistikrota.com"
        target="_blank"
      >
        salih@turistikrota.com
      </a>
      <a
        class="text-[13px] text-gray-500 underline hover:text-gray-800 hover:decoration-2 focus:outline-none focus:decoration-2 dark:text-neutral-500 dark:hover:text-neutral-400"
        href="mailto:contact@9ssi7.dev"
        target="_blank"
      >
        contact@9ssi7.dev
      </a>
    </li>
    <li class="flex items-center gap-x-2.5">
      <Icon name="bluesky" className="size-4" />
      <a
        class="text-[13px] text-gray-500 underline hover:text-gray-800 hover:decoration-2 focus:outline-none focus:decoration-2 dark:text-neutral-500 dark:hover:text-neutral-400"
        href="https://bsky.app/profile/9ssi7.dev"
        target="_blank"
      >
        @9ssi7.dev
      </a>
    </li>
    <li class="flex items-center gap-x-2.5">
      <Icon name="x" className="size-4" />
      <a
        class="text-[13px] text-gray-500 underline hover:text-gray-800 hover:decoration-2 focus:outline-none focus:decoration-2 dark:text-neutral-500 dark:hover:text-neutral-400"
        href="https://x.com/9ssi7"
        target="_blank"
      >
        @9ssi7
      </a>
    </li>
  </ul>
</section>
