---
import { getLangFromHeaders, useI18n } from "@/i18n/utils";

const { t, tv } = useI18n(getLangFromHeaders(Astro.request.headers));
---

<div data-aos="fade" class="aos-init aos-animate">
  <div class="pt-12 md:py-12 px-2 sm:px-5 md:px-10 lg:px-14">
    <h2 class="text-3xl">
      {t("about_me")}
    </h2>
    <div class="lg:grid grid-cols-12 md:gap-10 pt-4 md:pt-7 items-center">
      <div class="col-span-12 space-y-2.5">
        <div class="space-y-2">
          {
            tv("about_me_pragraphs").map((p) => (
              <p class="text-gray-700 dark:text-gray-300 leading-7">{p}</p>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
