---
import { LocaleCodes } from "@/i18n/ui";
import { useI18n } from "@/i18n/utils";
import Footer from "./footer.astro";
import Header from "./header.astro";
import "@/styles/global.css";

const { lang } = useI18n(Astro.locals.lang)
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="Salih İbrahimbaş" />
    <title>Salih İbrahimbaş</title>
    <meta name="robots" content="index,follow" />
    <meta property="og:url" content="https://9ssi7.dev/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="
      I am a software and product developer with expertise in Go, JavaScript, and Docker. I am passionate about developing user-centric, innovative, and open-source solutions. I am open to collaboration and learning."
    />
    <meta
      name="description"
      content="
    I am a software and product developer with expertise in Go, JavaScript, and Docker. I am passionate about developing user-centric, innovative, and open-source solutions. I am open to collaboration and learning."
    />
    <meta property="og:image:alt" content="Salih İbrahimbaş" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:locale" content={LocaleCodes[lang]} />
    <meta property="og:site_name" content="Salih İbrahimbaş" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="Salih İbrahimbaş" />
    <meta property="og:image" content="/cover.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <link rel="shortcut icon" href="/profile.webp" />
  </head>
  <body
    class="selection:bg-blue-200/20 dark:selection:bg-blue-500/5 dark:selection:text-blue-400 selection:text-blue-500 bg-default text-black dark:text-white"
  >
  <Header />
  <main class="w-full max-w-2xl mx-auto pt-10 px-4 md:px-0">
    <slot />
  </main>
  <Footer />
  </body>
</html>
