---
import { LocaleCodes } from "@/i18n/ui";
import { getLangFromHeaders } from "@/i18n/utils";
import "boxicons/css/boxicons.min.css";
import Footer from "./footer.astro";
import Header from "./header.astro";

const lang = getLangFromHeaders(Astro.request.headers);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="Sami Salih İbrahimbaş" />
    <title>Sami Salih İbrahimbaş</title>
    <meta name="robots" content="index,follow" />
    <meta property="og:url" content="https://9ssi7.dev/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="
      I am a software and product developer with expertise in Go, JavaScript, and Docker. I am passionate about developing user-centric, innovative, and open-source solutions. I am open to collaboration and learning."
    />
    <meta
      name="description"
      content="
    I am a software and product developer with expertise in Go, JavaScript, and Docker. I am passionate about developing user-centric, innovative, and open-source solutions. I am open to collaboration and learning."
    />
    <meta property="og:image:alt" content="Sami Salih İbrahimbaş" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:locale" content={LocaleCodes[lang]} />
    <meta property="og:site_name" content="Sami Salih İbrahimbaş" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="Sami Salih İbrahimbaş" />
    <meta property="og:image" content="/cover.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <link rel="shortcut icon" href="/shortcut.jpg" />
  </head>
  <body
    class="selection:bg-blue-200 dark:selection:bg-blue-500/5 dark:selection:text-blue-400 selection:text-blue-500 selection:bg-opacity-20 bg-default text-black dark:text-white"
  >
  <Header />
  <main class="w-full max-w-2xl mx-auto pt-10 px-4 md:px-0">
    <slot />
  </main>
  <Footer />

    <style>
      :root {
        --bg-default: #f8f9fa;
        --bg-secondary: #ffffff;
        --bg-third: #f3f6f6;
        --border-color: #e9ecef;
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --bg-default: #090909;
          --bg-secondary: #121212;
          --bg-third: #1d1d1d;
          --border-color: #2a2a2a;
        }
      }

      html {
        font-family: "Lexend", sans-serif;
      }
    </style>
  </body>
</html>
